# For more information, please see the README.md
SUNO_COOKIE=
CAPSOLVER_KEY= # Obtain from capsolver.com
HCAPTCHA_SITEKEY= # hCaptcha sitekey from suno.com/create
BROWSER=chromium # `chromium` or `firefox`, although `chromium` is highly recommended
BROWSER_GHOST_CURSOR=false
BROWSER_LOCALE=en
BROWSER_HEADLESS=true